body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
body,
h1,
h2, 
h3,
h4,
h5,
h6,
div,
span {
  font-family: 'Roboto', 'Noto Sans', 'Source Hans Sans',
      -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Microsoft YaHei UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue',
      sans-serif;
}

code {
  font-family: 'Cascadia Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}